<%- include('../partials/header') %>

<section id="show-page">
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight No: </div>
    <div><%= flight.flightNo %></div>
    <div>Flight Departure: </div>
    <div><%= flight.departs %></div>
    <div>Flight Destination: </div>
    <div><%= flight.destinations %></div>
</section>

<%- include('../partials/footer') %>
